html, body{
    overflow: hidden;
    height: 100vh;
}
* {
	margin: 0;
	padding: 0;
}
.login{
    margin: 0;
    height: 100vh;

}
.login h1{
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    
}